{% extends "SiteUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Bienvenue sur Time2Web
                </h2>
            </div>
            <div class="panel-body">
                <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
