{% extends "SiteFrontBundle::layout.html.twig" %}

{% block content %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Modifier ma note            
                </h4>
            </div>
      
            <div class="panel-body">
                {{ form(edit_form) }}
            </div>
        </div> 
    </div>
{% endblock %}


