{% extends "SiteFrontBundle::layout.html.twig" %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ entity.title }}</h2>
        </div>
        <div class="panel-body" id="tutorial_list">

            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul class="no-bulleted">
                    <li>
                        <h4>
                            <i class="fa fa-play"></i>
                            {{ entity.title }}
                        </h4>
                        <hr />

                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li fa fa-thumb-tack"></i>
                                <p>{{ entity.category.name }}</p>
                            </li>
                            <li>
                                <i class="fa-li fa fa-list-alt"></i>
                                <p>{{ entity.description | truncate(180, true) }}</p>
                                <a  href="#" role="button" class="btn btn-perso">
                                    Voir les détails &raquo;
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!--/span-->
        </div>
    </div>
{% endblock %}
