{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
    <div class="panel panel-default" id="bloc_profil">
        <div class="panel-heading">
            <h2 class="panel-title">
                Modifier votre mot de passe
            </h2>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-9">
                        <form action="{{ path('site_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
                            {{ form_widget(form) }}
                            <div>
                                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-success"/>
                            </div>
                        </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


            