{% extends "SiteFrontBundle::layout.html.twig" %}

{% block content %}
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Signaler comme abusif
                </h4>
            </div>
            <div class="panel-body">
                {{ form(form) }}
            </div>
        </div> 
    </div>
{% endblock %}
